body {
  margin: 0px;

  font-family: "Raleway", sans-serif;

  /* font-family: "Cardo", serif;

  font-family: "Open Sans", sans-serif; */

  -wedkit-font-smoothing: antialisaid;

  font-size: 14px;

  background-color: #ffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0 15px;
}

/* Header
=========== */

.header {
  padding-top: 35px 0;
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  /* position: fixed;
  color: #182838; */
}

/*heder__inner 
============  */

.heder__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(89, 94, 99, 0.933);
}

/* navigation 
============= */

.navigation {
  display: flex;

  font-size: 13px;
  font-weight: 700px;
  text-transform: uppercase;
}

/* Nav__link 
============= */

.nav__link {
  color: rgb(248, 248, 248);
  text-decoration: none;
  opacity: 0.75;

  transition: 0.2c linear;

  margin: 30px;
}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:hover {
  opacity: 1;
}
/* intro 
========== */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: url("../img/intro-bg.jpg") center no-repeat;
}

.intro__inner {
  width: 100%;
  max-width: 970;
  margin: 0 auto;
  text-align: center;
}
/* banner__text */

.banner__text {
  margin: 0 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
}

.intro__subtitle {
  color: #ffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;

  margin-bottom: 80px;
}
/* Button
 ========== */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #ffff;
  font-weight: 600;
  text-transform: uppercase;
  background: #e84545;
  text-decoration: none;
}

.btn--red {
  padding: 15px 40px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border: 0;
}

.btn--red:hover {
  background-color: #dd3434;
  /* transition: background 0.2 linear; */
}

/* icons-container
========== */

.icons {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.icons__item {
  width: 33.333333%;
  padding: 0 30px;
  text-align: center;
  margin: 25 0;
}

.icons__icon {
  padding-bottom: 20px;
  cursor: pointer;
}

.icons__title {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.icons__text {
  font-size: 14px;
  color: #6c7279;
  text-align: 1.5;
}

/* Works
========= */

.works {
  display: flex;

  flex-wrap: wrap;
}
.works__item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.work__phfoto {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px #ffff;
  border-right: solid 1px #ffff;
  border-left: solid 1px #ffff;
  border-top: solid 1px #ffff;
  background-color: rgb(230, 50, 50, 0.9);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.works__content:hover {
  opacity: 0.9;
}

.works__title,
.works__text {
  margin-bottom: 5px;
  color: #ffff;
  font-size: 14px;
  font-weight: 700;

  text-transform: uppercase;
}

/* Team_work
========= */

.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.team__item {
  width: 25%;

  padding: 0 15px;

  margin-bottom: 30px;
}

.team__phfoto {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team__name {
  margin-bottom: 10px;
  font-size: 22px;
  color: black;

  text-align: center;
}

.position {
  margin-bottom: 13px;
  font-size: 19px;
  color: red;

  text-align: center;
}

.text__title {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Social
========= */

.social {
  display: flex;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
  background-color: #ffff;
  margin-left: 4px;

  transition: background 0.2s linear;
}

.social__item:hover {
  background-color: #283683;
}

.social__item:hover .icon__social {
  fill: #fff;
}

.icon__social {
  display: block;
  height: 18px;
  fill: #c6cacc;

  transition: 0.2s linear;
}
