body {
  margin: 0px;

  font-family: "Raleway", sans-serif;

  /* font-family: "Cardo", serif;

  font-family: "Open Sans", sans-serif; */

  -wedkit-font-smoothing: antialisaid;

  font-size: 14px;

  background-color: #ffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

/* Header
=========== */

.header {
  padding-top: 35px 0;
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/*heder__inner 
============  */

.heder__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(89, 94, 99, 0.933);
}

/* navigation 
============= */

.navigation {
  display: flex;

  font-size: 13px;
  font-weight: 700px;
  text-transform: uppercase;
}

/* Nav__link 
============= */

.nav__link {
  color: rgb(248, 248, 248);
  text-decoration: none;
  opacity: 0.75;

  transition: 0.2c linear;

  margin: 30px;
}

.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:hover {
  opacity: 1;
}
/* intro 
========== */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  height: 750px;
  background: url("../img/intro-bg.jpg") center no-repeat;
}

.intro__inner {
  width: 100%;
  max-width: 970;
  margin: 0 auto;
  text-align: center;
}
/* banner__text */

.banner__text {
  margin: 0 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.1;
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
}

.intro__subtitle {
  color: #ffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;

  margin-bottom: 80px;
}
/* Button
 ========== */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #ffff;
  font-weight: 600;
  text-transform: uppercase;
  background: #e84545;
  text-decoration: none;
}

.btn--red {
  padding: 15px 40px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  border: 0;
}

.btn--red:hover {
  background-color: #dd3434;
  /* transition: background 0.2 linear; */
}
